* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#ham-icon {
  width: 30px;
}

.hide-show {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.side-bar {
  background-color: #e74c3c;
  width: 300px;
  height: 100vh;
  padding: 20px;
  transform: translate(-100%);
  transition: 5s;
}

.side-item {
  list-style: none;
  font-size: 18px;
}

.side-bar li {
  margin-top: 15px;
}
