@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30rem;
  /* height: 15rem; */
  background-color: white;
  border-radius: 10px;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

button {
  width: 100%;
  background-color: black;
  color: white;
  display: block;
  border: none;
  border-radius: 5px;
  font-size: 30px;
}
